.btn {
  background: #333;
  color: var(--white);
  padding: 0.5rem 1.5rem; /* 1:3 in this case 8px:24px */
  border-radius: var(--radius);
  font-weight: var(--btn-weight);
  letter-spacing: 0.5px;
  transition: background 0.3s ease;
  text-decoration: none;
}
.btn:hover {
  background: #1a1a1a;
}
.btn.btn-primary {
  background: var(--primary);
}
.btn.btn-primary:hover {
  background: #0086c9;
}
